.div1 {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    border: solid white;
}
.div2 {
    background-color: orange;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 125px;
    border: solid white;
}
.div3 {
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 245px;
    border: solid white;

}
.div4 {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70px;
    left: 63px;
    border: solid white;

}
.div5 {
    background-color: violet;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70px;
    left: 200px;
    border: solid white;
}