


.div1 {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    }
    .div2 {
        background-color: blue;
        height: 100px;
        width: 100px;
        position: absolute;
        left: 150px;
    
    }
    .div3 {
        background-color: blue;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 150px;
    
    }
    .div4 {
        background-color: blue;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 150px;
        left: 150px;
    
    }
    .div5 {
        background-color: red;
        height: 100px;
        width:100px;
        position: absolute;
        top: 75px;
        left: 75px;
        transform: rotate(47deg);
    }
    .div5::after{
        content: "★";
        color: black;
        position: absolute;
        top: 40%;
        left: 42%;
        



    
    }